[submodule "sendbox-api"]
	path = sendbox-api
	url = https://github.com/mrprfrm/sendbox-api
[submodule "sendbox-client"]
	path = sendbox-client
	url = https://github.com/mrprfrm/sendbox-client
[submodule "sendbox-auth"]
	path = sendbox-auth
	url = https://github.com/mrprfrm/sendbox-auth
